@font-face {
    font-family: myfont;
    src: url(Days.ttf);
}
.about {
    color: #fff;
    background: linear-gradient(to top, rgba(0,0,0,0) 0%, var(--bg-color-3) 100%);
    padding-top: 4.375rem; /* 70px to rem for scalability */
}

.about:after {
    /* No changes, as pseudo-elements for decoration typically don't need responsiveness */
}

.wrapper {
    width: 100%;
    max-width: 120rem; /* 1920px to rem */
    padding: 3.125rem 1.25rem; /* Adjusted for scalability */
    margin: 0 auto;
}

.aboutGrid {
    display: flex;
    margin-bottom: 6.25rem; /* 100px to rem */
    justify-content: center;
    align-items: center;
    gap: 2.5rem; /* 40px to rem */
}

@media screen and (max-width: 965px) {
    .aboutGrid {
        flex-direction: column;
        margin-bottom: 4rem; /* 64px to rem */
    }
}

.aboutContent {
    max-width: 55%;
}

@media screen and (max-width: 965px) {
    .aboutContent {
        max-width: 100%;
    }
}

.aboutContent h2 {
    font-size: 3em; /* Consider adjusting for smaller screens */
    color: #fff;
    margin-top: 0.625rem; /* 10px to rem */
    margin-bottom: 1.25rem; /* 20px to rem */
}

.about p {
    margin: 0;
    font-size: 1.1rem; /* Adjusted for better readability */
    line-height: 1.8rem;
    font-weight: 300;
    margin-bottom: 1.25rem; /* 20px to rem */
}

.aboutImg {
    overflow: hidden;
    width: 26.25rem; /* 420px to rem */
}

@media screen and (max-width: 965px) {
    .aboutImg {
        width: 100%;
    }
}

.aboutImg img {
    width: 100%;
    object-fit: cover;
}