@font-face {
    font-family: myfont;
    src: url(Days.ttf);
}

.header {
    height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background {
    background-image: linear-gradient(180deg, transparent 50%, var(--bg-color-3)), url(/media/Header.webp);
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.landingText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.landingText h1 {
    margin: 0;
    padding-top: 650px;
    text-align: center;
    font-size: 5rem;
    font-family: myfont;
    color: wheat;
    letter-spacing: 0.5rem;
}

@media (max-width: 768px) {
    .landingText h1 {
        font-size: 3rem;
        padding-top: 20vh; /* Adjusted padding for smaller screens */
    }
}

.landingText p {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1.8px;
    color: #fff;
}

.headerContainer {
    height: max-content;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    margin: auto;
}

.mainLogo {
    width: 50%;
    margin-top: 30vh;
    animation: page-load 1969ms cubic-bezier(0.04, 1.2, 1, 0.94);
}

.landingTitle {
    margin: 0;
    color: #fff;
    font-family: Japanese;
    text-shadow: -1px -1px 0 #3c070d, 1px -1px 0 #3c070d, -1px 1px 0 #3c070d, 2px 2px 0 #3c070d;
    font-size: 3rem;
}

.buyBtn {
    padding: 20px 20px 20px 55px;
    border-radius: 5px;
    background-color: #2081e2;
    font-family: Upheavtt;
    font-weight: 700;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

.sumurai1, .sumurai2, .sumurai3, .sumurai4, .sumurai5, .sumurai6, .sumurai7 {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: contrast(0%) brightness(10%);
    transition: all 0.2s ease-in-out;
}

.sumurai1:hover, .sumurai2:hover, .sumurai3:hover, .sumurai4:hover, .sumurai5:hover, .sumurai6:hover, .sumurai7:hover {
    filter: none;
    transform: scale(1.1);
}

/* Responsiveness for samurais */
@media (max-width: 768px) {
    .sumurai1, .sumurai2, .sumurai3, .sumurai4, .sumurai5, .sumurai6, .sumurai7 {
        width: 200px;
        height: 200px;
    }
}

/* Additional Media Queries can be added here for further responsiveness */

.headerSocials {
    position: absolute;
    z-index: 5;
    bottom: 25px;
    right: 30px;
}

.socialsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.socialLink {
    margin-bottom: 8px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 2px solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border-radius: 0.375rem;
}

.socialLink:hover {
    background-color: wheat;
}

.socialLink svg {
    fill: #f3f3f3;
    width: 22px;
    height: 22px;
}

.arrow {
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 100%;
    text-align: center;
}

.arrow svg {
    color: #fff;
    animation: arrow_bounce 1.8s infinite;
}

@keyframes arrow_bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
