@font-face {
    font-family: myfont;
    src: url(Days.ttf);
}

.main {
    height: 1VH;
    padding-bottom: 100px;
}
.setion2 .two{
font-family: myfont ;
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
gap: 70px;
text-transform: capitalize;
color: wheat;
font-size: 1.5vw;
animation: move 8s linear infinite   ;

}
@keyframes move {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
    
}
