@font-face {
  font-family: myfont;
  src: url(Days.ttf);
}

.main {
  position: relative;
  display: flex;
  height: 20vh; /* Already adjusted for a smaller height */
  overflow: hidden;
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, var(--bg-color-3) 100%);
}

.sliderContainer {
  position: absolute;
  top: calc(80vh - 450px); /* This might need adjustment in media queries */
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  margin: 0px;
  color: wheat;
  font-size: 6vw; /* Example of responsive font size */
  font-family: myfont;
  font-weight: 400;
  padding-right: 50px;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .slider p {
    font-size: 8vw; /* Increase font size for smaller screens */
  }

  .sliderContainer {
    top: calc(50vh - 225px); /* Adjust position for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .slider p {
    font-size: 10vw; /* Further increase font size for very small screens */
  }

  .sliderContainer {
    top: calc(30vh - 150px); /* Further adjust for very small screens */
  }
}
